<div class="logo">
	<div class="logo-block">
		<h1><span id="t1">t</span><span id="w">w</span><span id="e">e</span><span id="n">n</span><span id="t2">t</span><span id="y">y</span>
		</h1>
	</div>
</div>

<div class="timer">
	<timer interval="10" autostart="false" 
		mminutes="currentMinutes" sseconds="currentSeconds" hhundredths="currentHundredths">
		<h2 class="currentTime">
			{{mminutes}}:{{sseconds}}.{{ hhundredths }}
		</h2>
	</timer>
</div>

<div class="times">
	<ul ng-if="times.length && !viewingStats">
		<li ng-repeat="time in times" class="time-box">
			<span class="removeTime" ng-click="removeTime(time)">x</span><span class="time">{{ time.formatted }}</span>
		</li>
	</ul>
	<div ng-if="!times.length && !viewingStats" class="no-times">
		<h2>no times yet</h2>
	</div>
	<!-- <div id="averageTime" class="time">
		{{ averageTime }}
	</div> -->

	<ul ng-if="viewingStats">
		<li ng-repeat="stat in stats" class="stat-box">
			{{ stat.label }}: {{ stat.value }}
		</li>
	</ul>
</div>

<div class="toggle-btn-container" ng-click="toggleTab()">
	<h3>{{ viewingStats ? 'times' : 'stats' }}</h3>
</div>
