body { 
	padding-top: 5vh; 
	padding-bottom: 5vh;
	color: #3E3E3E;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
    cursor: default;
}

#t1 {
	color: white;
}

#w {
	color: #ffffba;
}

#e {
	color: #ffdfba;
}

#n {
	color: #ffb3ba;
}

#t2 {
	color: #bae1ff;
}

#y {
	color: #baffc9;
}

.logo {
	font-family: 'Cabin', sans-serif;
	text-align: center;
}

.logo-block {
	background: #3E3E3E;
	margin: auto;
	padding: 20px;
	height: 85px;
	width: 260px;
}

.logo h1 {
	line-height: 60px;
	width: 260px;
	margin: auto;
	font-size: 8rem;
	border-top: 10px solid white;
}

.timer {
	width: 270px;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.currentTime {
	font-weight: 600;
	font-size: 7rem;
	font-family: 'Arial', sans-serif;
	color: #3E3E3E;
}

.times {
	background: #3E3E3E;
	width: 300px;
	height: 50vh;
	margin: auto;
	overflow: scroll;
	border-top: 6px solid #3E3E3E;
	border-bottom: 6px solid #3E3E3E;
}

::-webkit-scrollbar { 
    display: none; 
}

.time-box {
	margin: 0 5px 5px 5px;
	position: relative;
	background: white;
	color: #3E3E3E;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	height: 60px;
	text-align: center;
	list-style: none;
	border-radius: 3px;
}

.time {
	line-height: 60px;
	font-size: 2em;
}

.removeTime {
	font-size: 1.5em;
	cursor: pointer;
	margin-left: -75px;
	margin-top: -18px;
	position: absolute;
	top: 50%;
}

.no-times {
	color: white;
	font-family: 'Cabin', sans-serif;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.buttons {
	margin: auto;
	width: 265px;
}

.btn-container {
	display: inline-block;
	font-family: 'Cabin', sans-serif;
	color: #3E3E3E;
	cursor: pointer;
	background: white;
	border: 5px solid #3E3E3E;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 0;
	height: 50px;
	width: 120px;
	text-align: center;
}

.stat-box {
	padding-right: 45px;
	line-height: 60px;
	font-size: 2em;
	margin: 0 5px 5px 5px;
	position: relative;
	background: white;
	color: #3E3E3E;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	height: 60px;
	list-style: none;
	border-radius: 3px;
	text-align: right;
}

.times-toggle {
	background-color: #ffffba;
}

.stats-toggle {
	background-color: #bae1ff;
}

.delete {
	background-color: #ffb3ba;
}